body {
  background-color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  min-width: 940px;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.top-menu {
  background-color: #293449;
}


.middle-menu {
  background-color: #f3f7f9;
}

.button {
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.wrapper-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  margin-right: 2px;
  min-width: 219px;
  padding-bottom: 9px;
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
}

.logo img {
  display: inline-block;
  position: relative;
  top: 3px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search-menu {
  display: flex;
  width: 270px;
}

.button-search {
  background: none;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-top: 10px;
  position: absolute;
}

.label-search {
  background-color: #293449;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  min-width: 270px;
  order: 2;
  padding-bottom: 11px;
  padding-right: 96px;
  padding-top: 10px;
  text-align: center;
}

.label-search:focus + .button-search svg {
  background-color: white;
  fill: red;
}

.label-search:hover + .button-search svg {
  fill: #dbdddf;
}

.magnifier {
  fill: #6a7180;
}




.label-search::placeholder {
  color: #ffffff;
}

.label-search:hover {
  background-color: #212a3a;
}

.label-search:active,
.label-search:focus {
  background-color: #ffffff;
}

.label-search::placeholder:active {
  color: #000000;
}

.label-search::placeholder {
  padding-right: 40px;
}

.button-top-menu {
  display: flex;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
}

.button-bookmarks {
  display: flex;
  justify-content: center;
  min-width: 150px;
  padding-top: 12px;
  text-align: center;
}

.icon-bookmark {
  opacity: 0.3;
  position: relative;
  right: 13px;
}

.icon-box {
  position: relative;
    right: 11px;
    top: 1px;
    opacity: 0.3;
}

.button-box-inner {
  min-width: 150px;
    padding-top: 11px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 4px;
}

.button-box {
  min-width: 150px;
  padding-top: 12px;
  text-align: center;
}

.button-checkout {
  margin-right: 2px;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  min-width: 150px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 12px;
  text-align: center;
}

.button-bookmarks,
.button-box-inner {
  background-color: #293449;
  color: #ffffff;
}

.button-bookmarks,
.button-box {
  text-transform: capitalize;
}

.button-bookmarks:hover,
.button-box:hover,
.button-box-inner:hover,
.button-box-inner:focus,
.button-bookmarks:focus,
.button-box:focus {
  background: #212a3a;
}

.button-bookmarks:active,
.button-box:active,
.button-box-inner:active {
  background: #161d29;
  opacity: 0.5;
}

.login-and-registration {
  display: flex;
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  padding-bottom: 26px;
}

.login-link {
  background-color: #ffffff;
  width: 113px;
  color: #000000;
  padding: 11px 0 11px 5px;
  margin-right: 10px;
}

.login-link:hover,
.login-link:focus {
  color: #ee3643;
}

.login-link:active {
  color: rgb(0, 0, 0, 0.3);
}

.registration-link {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.registration-link:hover,
.registration-link:focus {
  color: #ee3643;
}

.registration-link:active {
  color: rgb(0, 0, 0, 0.3);
}

.button-checkout:hover,
.button-checkout:focus {
  background: #5fbb2d;
}

.button-checkout:active {
  background: #518534;
  opacity: 0.5;
}

.button-checkout {
  background-color: #63a63e;
}

.label-search:active ~ .magnifier {
  background-color: #000000;
  color: #f04955;
}

.login:hover ~ .proba {
 color: #32425c;
}

.login:focus ~ .proba {
  color: #32425c;
 }
 


.middle-menu {
  align-items: center;
  display: flex;
  justify-content: center;    
  padding-bottom: 40px;
  padding-top: 46px;
}

.contact-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 39px;
}

.number {
  background: url(../img/icon-phone.svg) no-repeat;
  background-position: 10px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 8px;
  padding-left: 70px;
  padding-right: 5px;
  padding-top: 10px;
  position: relative;
  width: 189px;
}

.wrapper-middle-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.icon-box svg:hover {
  opacity: 1;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.store {
  margin: 0;
  padding: 0;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  padding-left: 51px;
  width: 199px;
}

.address {
  color: #32425c;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-top: 4px;
    margin-right: 1px;
}

.link-image {
  padding-right: 12px;
  padding-left: 7px;
}

.cabinet {
  margin-left: 20px;
}

.login-and-registration {
  color: #000000;
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  margin-left: 40px;
}

.main-menu {
  background-color: #f3f7f9;
  min-height: 119px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0 5px 0 0 rgba(41, 52, 73, 1);
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 940px;
}

.site-item {
  color: #ffffff;
  display: block;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding: 19px 30px;
}

.site-item:hover,
.site-item:focus {
  background-color: #293449;
}

.site-item:active {
  background-color: #1d2739;
  color: rgb(255, 255, 255, 0.5);
}


.list-items {
  color: #ffffff;
  padding-top: 60px;
}

.list-item {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 0px;
  margin-top: 22px;
  margin-bottom: 11px;
}

.button-list {
  background-color: rgb(0, 0, 0, 0.1);
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-left: 4px;
    width: 135px;
    padding-top: 11px;
    text-transform: uppercase;
    border-radius: 2px;
}

.button-list:focus,
.button-list:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.button-list:active {
  background-color: rgb(0, 0, 0, 0.3);
}

.catalog {
  background-color: #ee3643;
  font-weight: normal;
  text-transform: uppercase;
}

.wrapper-for-item {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 21px;
  width: 299px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.list-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.list-items {
  display: flex;
}

.materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: 212px;
  background-repeat: no-repeat;
  background-position-y: 30px;
  margin-right: 20px;
  position: relative;
}

.instruments {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: 196px;
  background-repeat: no-repeat;
  background-position-y: 34px;
}

.equipment {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: 189px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.sale {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: 194px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-position: 189px;
  background-repeat: no-repeat;
}

.slider-name {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sliders p {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.sliders {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}


.drills {
  background-image: url("../img/drills-man.jpg");
  background-repeat: no-repeat;
}

.slider-item {
  box-sizing: border-box;
  height: 266px;
  padding-left: 20px;
  padding-top: 50px;
  width: 640px;
}

.slider-perforators {
  background-image: url("../img/perforator-man.jpg");
  background-repeat: no-repeat;
  display: none;
}

.catalog {
  font-weight: normal;
}

.popular-manufacturers {
  align-items: center;
  background-color: #f9f5f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 58px;
}

.popular {
  color: #32425c;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    padding-left: 26px;
    text-transform: uppercase;
}

.button-popular {
  margin-right: 26px;
    min-width: 214px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}


.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.bosh:hover {
  box-shadow: 0 10px 25px rgb(171, 175, 184);
}

.actions {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 88px;
  left: 0;
  min-width: 210px;
  padding: 40px 0;
  padding-top: 45px;
  position: absolute;
  top: 0;
  width: 218px;
  z-index: 10;
}

.actions {
  display: none;
}

.bosh:hover .actions {
  display: block;
}

.button-bookmark {
  background: white;
  border-bottom-color: #63a63e;
  color: #32425c;
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  width: 129px;
}

.bosh {
  align-items: center;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 220px;
}

.goods-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.button-buy {
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 rgba(54, 115, 21, 1);
  display: block;
  font-weight: normal;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-transform: uppercase;
  width: 129px;
}

.button-buy:focus,
.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmark {
  border: 2px solid #63a63e;
  border-radius: 2px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 2px solid #32425c;
}

.button-bookmark:active {
  border: 2px solid #c1c6ce;
  color: rgb(50, 66, 92, 0.3);
}

.title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.discount {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
}

.price {
  background: #ee3643;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  position: relative;
  width: 80px;
}

.price::after {
  border: 20px solid white;
  border-left-color: #ee3643;
  content: "";
  height: 0;
  position: absolute;
  right: -20px;
  top: 0;
  width: 0;
}

.title {
  margin-bottom: 15px;
  margin-top: 10px;
  min-height: 40px;
  padding: 0 25px;
}

.discount {
  color: #999999;
  margin-bottom: 10px;
  margin-top: 15px;
  min-height: 20px;
  text-decoration: line-through;
}

.manufactures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.manufactures-item {
  align-items: center;
  border: 1px solid #e5e5e5;
  display: flex;
  height: 150px;
  justify-content: center;
  margin-bottom: 20px;
  width: 220px;
}

.manufactures-item:focus,
.manufactures-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufactures-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service-delivery {
  background-color: #f4f8f9;
}

.service-wrap {
  padding-bottom: 60px;
  padding-top: 60px;
}

.slogan-service {
  margin-bottom: 60px;
  width: 400px;
}

.service-block::after {
  background: url("../img/line.png") no-repeat;
  bottom: -59px;
  content: "";
  height: 279px;
  left: 230px;
  position: absolute;
  width: 10px;
}

.service {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}

.service-block {
  background-color: #32425c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 240px;
}

.service-block-wrapper {
  align-items: end;
  display: flex;
  flex-direction: row;
}


.slogan-delivery-item::after {
  background: url("../img/delivery.png") no-repeat;
  content: "";
  height: 261px;
  left: 153px;
  position: absolute;
  top: -37px;
  width: 470px;
}

.slogan-warranty-item::after {
  background: url("../img/guarantee.png") no-repeat;
  content: "";
  height: 283px;
  position: absolute;
  right: -48px;
  top: -62px;
  width: 385px;
}

.slogan-credit-name::after {
  background: url("../img/credit.png") no-repeat;
  content: "";
  height: 255px;
  position: absolute;
  right: -12px;
  top: -21px;
  width: 470px;
}

.slogan-warranty-item {
  width: 380px;
}

.service-block li {
  min-height: 60px;
}

.service-block label {
  cursor: pointer;
  display: block;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-top: 15px;
}

.warranty-item,

.credit-item {
  display: none;
}

.credit-item {
  margin-top: 6px;
}

.credit {
  margin-bottom: 40px;
}

.slogan-credit-name {
  margin-bottom: 30px;
  width: 279px;
}

.delivery-item,
.warranty-item,
.credit-item {
  margin: 0;
  margin-left: 80px;
  padding: 0;
  position: relative;
  width: 620px;
}


.item-block:hover,
.item-block:focus,
.active-block:focus,
.active-block:hover {
  background-color: #293449;
}

.warranty-button:checked ~ .service-block .warranty-block,
.delivery-button:checked ~ .service-block .delivery-block,
.credit-button:checked ~ .service-block .credit-block {
  background-color: #ffffff;
  color: #32425c;
}

.no-sale .title {
  margin-bottom: 50px;
}

.item-name {
  color: #32425c;
  font-size: 36px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.slogan-delivery-item {
  width: 275px;
}

.send-request {
  background-color: #ff5357;
  color: #ffffff;
  display: block;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
}

.company-techomart {
  margin: 0;
}

.button-letter {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.map {
  margin-bottom: 40px;
  margin-top: 30px;
}

.company-contacts {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 540px;
}

.contact {
  margin: 0;
}

.company-wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  width: 540px;
}

.company-techomart {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}



.contact {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}

.company-list {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 40px;
  position: relative;
}

.company-list li::before {
  background-color: #ee3643;
  content: "";
  height: 2px;
  left: 0;
  margin-top: 10px;
  position: absolute;
  width: 25px;
}

.business-line {
  margin-bottom: 10px;
}

.autotrading {
  margin-bottom: 10px;
}

.button-more {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.footer {
  background-color: #32425c;
}

.footer-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  text-transform: uppercase;
}

.footer-address {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  margin-top: 50px;
}

.footer-number {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
}

.footer-navigation-wrapper {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  list-style: none;
  margin-bottom: 40px;
}

.footer-wrapper {
  padding-bottom: 37px;
}

.wrapper-top-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 200px;
}

.footer-catalog {
  color: #ffda96;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.footer-navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 20px;
}

.footer-navigation li {
  margin-right: 40px;
  padding-left: 10px;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-catalog a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  border-bottom: 1px solid #ffffff;
}

.footer-navigation a:active {
  border-bottom: none;
  opacity: 0.5;
}

.footer-catalog a:hover,
.footer-catalog a:focus {
  border-bottom: 1px solid #ffd180;
}

.footer-catalog a:active {
  border-bottom: none;
  opacity: 0.5;
}

.footer-catalog {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.footer-catalog li {
  margin-right: 40px;
  padding-left: 10px;
}


.social-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  padding-right: 40px;
  width: 32.33333%;
}

.social-list {
  margin-right: 10px;
}

.vk {
  margin-right: 10px;
}

.fb {
  margin-right: 10px;
}

.inst {
  margin-left: 5px;
}

.all-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  width: 32.33333%;
}

.bottom-footer {
  background-color: #293449;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.wrapper-bottom-footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}

.feedback {
  margin-bottom: 0;
}

.developed {
  margin-bottom: 0;
}

.right {
  box-sizing: border-box;
  padding-right: 70px;
  width: 32.33333%;
}

.site {
  color: #ffd180;
}

.email {
  color: #ffd180;
}

.site:focus,
.site:hover,
.email:focus,
.email:hover {
  border-bottom: 1px solid #ffd180;
}

.site:active,
.email:active {
  border-bottom: none;
  color: #ee3643;
}

.user-information {
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  padding-right: 14px;
}

.added {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.continuation {
  background-color: #ffffff;
  border-radius: 3px;
  color: #000000;
  font-weight: normal;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-transform: uppercase;
}

.cart {
  align-items: center;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  width: 620px;
}

.button-close-cart {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 22px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 22px;
}

.button-cart {
  background-color: #f1f1f1;
}

.execution {
  margin-right: 20px;
}

.user-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  width: 210px;
}

.popup-wrapper {
  display: flex;
  margin-top: 20px;
  min-width: 460px;
}

.user-popup {
  padding-bottom: 10px;
}

.send button {
  background-color: #ee3643;
  border: none;
  color: #ffffff;
  font-weight: normal;
  min-width: 460px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}


.send {
  background-color: #f4f4f4;
  margin-top: 30px;
  padding: 40px 80px;
}

.popup {
  border-top: 7px solid #ff5257;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  width: 620px;
}


.user {
  align-items: center;
  color: #a9a9a9;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-around;
  line-height: 18px;
  min-height: 420px;
}

.letter {
  border: 2px solid #dee3e4;
  border-radius: 3px;
  box-sizing: border-box;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  min-height: 120px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  width: 460px;
}

/***** catalog ***/

.login {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.login:active {
  color: rgb(0, 0, 0, 0.3);
}

.login span {
  margin-right: 12px;
  padding-left: 13px;
  padding-top: 4px;
}

.login-exit {
  margin-left: 37px;
  margin-top: 5px;
}

.login-and-exit {
  align-items: center;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 10px;
    min-height: 36px;
    width: 300px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.orders-link {
  box-sizing: border-box;
  padding-right: 31px;
}

.orders-link,
.personal-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  
}

.orders-link:focus,
.orders-link:hover,
.personal-link:focus,
.personal-link:hover {
  color: #ee3643;
}

.orders-link:active,
.personal-link:active {
  color: rgb(0, 0, 0, 0.3);
}

.list-style-link {
  list-style: none;
  padding-left: 17px;
  box-sizing: border-box;
}

.login-exit:hover,
.login-exit:focus {
  opacity: 1;
}

.login-exit:active {
  opacity: 0.3;
}


.login:active {
  color: rgb(0, 0, 0, 0.3);
}

.user-link {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-menu {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 10px;
  text-transform: uppercase;
}


.breadcrumbs li {
  margin-right: 35px;
  position: relative;
}

.breadcrumbs img {
  margin-bottom: 4px;
  display: block;
  margin-left: 6px;
}

.breadcrumbs-home::after {
  background: url("../img/icon-right-small.svg") no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: -22px;
  top: 2px;
  width: 8px;
}

.breadcrumbs-catalog::after {
  background: url("../img/icon-right-small.svg") no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: -20px;
  top: 2px;
  width: 8px;
}

.breadcrumbs-catalog {
  padding-left: 7px;
  margin-right: 5px;
}

.breadcrumbs-instruments::after {
  background: url("../img/icon-right-small.svg") no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: -18px;
  top: 2px;
  width: 8px;
}

.breadcrumbs-instruments {
  margin-right: 8px;
}



.breadcrumbs {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  min-height: 60px;
  padding: 0;
  width: 960px;
  margin: 0 auto;
}



.perforators::after {
  display: none;
}


.perforators-title {
  background-color: #f2f6f8;
  box-sizing: border-box;
  color: #32425c;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 26px;
  padding-top: 29px;
  margin-bottom: 8px;
  min-height: 89px;
}

.filters {
  background-color: #f7f3ec;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 10px 0 10px 18px;
  text-transform: uppercase;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.min-price,
.max-price {
  background-color: #f7f3ec;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
}

.filter-list ul {
  list-style: none;
}

.filter {
  position: relative;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-list {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.filter-wrapper {
  width: 220px;
}

.filter-option {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-transform: uppercase;
}


.sorting {
  display: flex;
  flex-direction: column;
  margin-left: 20p;
  margin-left: 20px;
  width: 700px;
}

.list {
  background-color: #f7f3ec;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 26px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.goods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}



.for-sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  margin-top: 2px;
  width: calc(100% - 160px);
}

.for-suction {
  border-bottom-color: #ee3643;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.for-sorting {
  margin-left: 3px;
  margin-right: 38px;
}

.triangle-sorting {
  display: flex;
  flex-direction: row;
  height: 10px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 73px;
  width: 40px;
}

.sorting-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #c5c5c5;
  height: 0;
  width: 0;
}

.sorting-up {
  border-bottom: 10px solid #ee3643;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 0;
}

.current {
  border-bottom: none;
  color: #ee3643;
}

.for-suction:focus,

.for-suction:hover {
  border-bottom-color: #f79ba1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #000000;
}

.for-suction:active {
  border-bottom: none;
  color: #ee3643;
}

.pagination {
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 0;
  text-transform: uppercase;
}

.pagination li {
  margin-right: 5px;
}

.pagination-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-nocurrent {
  border: 1px solid #e5e5e5;
  color: #000000;
}

.pagination-next {
  border: 1px solid #e5e5e5;
  color: #000000;
}

.pagination-item {
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}

.pagination-next {
  padding: 5px 15px 5px 15px;
}

.pagination-item:focus,
.pagination-item:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3744;
}

.about-perforators {
  background-color: #f2f6f8;
  min-height: 260px;
  padding-top: 20px;
}

.couple-of-words {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.perforators-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}


.filter-input-radio + label::before {

  border: 2px solid #c5c5c5;
  border-radius: 50%;
  content: "";
  height: 16px;
  left: -42px;

  position: absolute;
  top: -1px;

  width: 16px;
}

.filter-input-checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: -42px;
  position: absolute;
  top: 0;
  width: 24px;
}


.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  width: 30px;
}

.list {
  align-items: center;
}

.filter-list ul {
  margin: 0;
  padding: 0;
}

.filter-option label {

  cursor: pointer;

  display: block;
  position: relative;
  user-select: none;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-input-radio:checked + label::after {

  background-color: #c5c5c5;
  border-radius: 50%;
  content: "";

  height: 8px;
  left: -36px;

  position: absolute;
  top: 5px;
  width: 8px;
}

.new::before {
  background: url(../img/new-flag.png) no-repeat 0 0;
  content: "";
    height: 60px;
    position: absolute;
    right: 1px;
    top: 1;
    bottom: 63px;
    top: 1;
    width: 59px;
}



.slider-controls label {

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;
  width: 17px;
}

.slider-controls {
  bottom: 63px;

  font-size: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}


#product-1:checked ~ .drills,
#product-2:checked ~ .slider-perforators #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .label[for="product-1"],
#product-2:checked ~ .label[for="product-2"],
#product-3:checked ~ .label[for="product-3"] {
  background-color: #ffffff;
}





.delivery-item,
.warranty-item,
.credit-item {
  display: none;
}

.delivery-button:checked ~ .delivery-item,
.warranty-button:checked ~ .warranty-item,
.credit-button:checked ~ .credit-item {
  display: block;
}

.button-bookmarks:hover .icon-bookmark {
  opacity: 1;
}


.button-box-inner:hover .icon-box {
  opacity: 1;
}

.site-navigation li:nth-child(6) a
{
    padding-right: 33px;
}

.site-navigation li:first-child a
{
  padding-right: 33px;
  padding-left: 50px;
}

.site-navigation li:last-child a
{
  padding-right: 54px;
}

.box-red {
  background-color: #ee3643;
  padding-left: 4px;
}




.range-controls {
  position: relative;
  height: 80px;
  margin: 14px 0 10px;
  padding: 0 30px;
  overflow: hidden;
  background: #f7f3ec;
  border-radius: 3px;
}

.range-filter {
  background-color: #f7f3ec;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}  

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 87%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 50px;
  width: 4px;
  right: 52px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
}

.toggle-max {
  left: 28px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.price-input {
  width: 95px;
  padding: 8px 2px 10px 8px;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 0;
}

.price-min+span {
  font-size: 16px;
  line-height: 18px;
}
